.actions> a{
    margin: 0 5px;
}
/* .linkedin-logo{
    max-width: 5%;
    margin: 0;
    object-fit: contain;
    filter: invert(82%) sepia(70%) saturate(472%) hue-rotate(26deg) brightness(97%) contrast(102%);
} */