.technologies{
    display: flex;
    margin: 15px 0;
    gap: 10px;
}

.technologies>img{
    width: 8%;
    object-fit: contain;
    border-radius: 0.4rem;
}

@media screen and (max-width:1024px) {
    .introduction-div {
        padding: 0.7rem 1rem;
    }
}

@media screen and (max-width:600px) {
    .technologies {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}