.top-navbar {
    width: 100%;
    background-color: var(--color-bg);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-bottom: 80px;
    /* position: fixed; */
}

.top-navbar-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.top-navbar-links>a {
    color: var(--color-primary);
    transition: var(--transition);
}

.top-navbar-links>a:hover {
    text-shadow: 3px 4px 5px var(--color-primary-variant);
}