.top-navbar {
    width: 100%;
    background-color: var(--color-bg);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.top-navbar-links {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

.top-navbar-links>a {
    color: var(--color-primary);
    transition: var(--transition);
    text-decoration: none;
    padding: 0.2rem;
    margin: 0.2rem;
}

.top-navbar-links>a:not(.active):hover {
    text-shadow: 3px 4px 5px transparent;
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    color: var(--color-white);
}

.top-navbar-links> .active {
    text-shadow: 3px 4px 5px transparent;
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    color: var(--color-white);
    padding: 0.2rem;
    text-shadow: 3px 4px 5px var(--color-primary-variant);
}

.top-header {
    width: 100%;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 80px;
}

@media screen and (max-width:1024px) {
    .top-navbar-links {
        width: 60%;
    }

    .top-navbar-links>a {
        font-size: small;
    }
}

@media screen and (max-width:600px) {
    .top-navbar-links {
        width: 100%;
    }

    .top-navbar-links>a {
        font-size: x-small;
    }
}