.photoshop-container {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #00000082;
  position: absolute;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.photoshop {
  width: 90%;
  height: 90%;
  background-color: black;
  position: relative;
  border-radius: 2rem;
  box-shadow: 0px 0px 8px var(--color-primary);
  padding: 1.5rem;

}

.photoshop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photoshop-links {
  display: flex;
  font-size: 2rem;
  margin-left: 2rem;
}

.photoshop-links a {
  color: var(--color-primary-variant);
  margin-right: 1rem;
}

.photoshop-links a:hover {
  color: var(--color-primary);
  transform: scale(1.1);
}

.photoshop-header>h3 {
  text-align: center;
  color: var(--color-primary);
}

.photoshop-close {
  background: transparent;
  color: rgba(255, 0, 0, 0.679);
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.photoshop-close:hover {
  color: rgb(255, 0, 0);
  transform: scale(1.1);
}

.close-icon {
  font-size: 2rem;
}

.photoshop-gallery {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
  max-height: 90%;
  overflow: auto;
  overflow-x: hidden;
}

/* Create four equal columns that sits next to each other */
.photoshop-column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.photoshop-column .img-container {
  margin-top: 0.5rem;
}

.photoshop-column img {
  vertical-align: middle;
  width: 100%;
  transition: var(--transition);
}

.photoshop-column img:hover {
  transform: scale(1.2);
}

@media screen and (max-width:1024px) {
  .photoshop-links {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .photoshop-links a {
    margin-right: 1rem;
  }

  .photoshop-gallery {
    padding: 0 1px;
    width: 100%;
    max-height: 95%;
  }

  .photoshop-column {
    -ms-flex: 50;
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
}

@media screen and (max-width:600px) {
  .photoshop-links {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .photoshop-links a {
    margin-right: 0.5rem;
  }


  .photoshop-header>h3 {
    font-size: 1rem;
  }

  .photoshop-gallery {
    padding: 0 1px;
    width: 100%;
    max-height: 95%;
  }

  .photoshop-column {
    -ms-flex: 100;
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
  }
}